<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.swtchart.extensions.menuitems" name="SWTChart MenuItem Extensions" schema="schema/org.eclipse.swtchart.extensions.menuitems.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.swtchart.extensions.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.swtchart.extensions.preferences.PreferencePage"
            id="org.eclipse.swtchart.extensions.preferences.preferencePage"
            name="SWTChart">
      </page>
   </extension>     
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.swtchart.extensions.theme.ScrollableChartElement"
            composite="false"
            handler="org.eclipse.swtchart.extensions.theme.ScrollableChartCSSPropertyHandler">
         <property-name
               name="grid-color">
         </property-name>
      </handler>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.swtchart.extensions.theme.SWTChartElementProvider">
         <widget
               class="org.eclipse.swtchart.extensions.core.ScrollableChart">
         </widget>
      </provider>
   </extension>         
</plugin>