<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.swtchart.extensions.eclipse.preferences.PreferencePageEclipse"
            id="org.eclipse.swtchart.extensions.eclipse.preferences.preferencePage"
            name="SWTChart">
      </page>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.swtchart.extensions.eclipse.core.ScrollableChartElement"
            composite="false"
            handler="org.eclipse.swtchart.extensions.eclipse.core.ScrollableChartCSSPropertyHandler">
         <property-name
               name="grid-color">
         </property-name>
      </handler>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.swtchart.extensions.eclipse.core.SWTChartElementProvider">
         <widget
               class="org.eclipse.swtchart.extensions.core.ScrollableChart">
         </widget>
      </provider>
   </extension>       
</plugin>
